.copyright {
    text-align: center;
    margin: 20px;
    color: var(--color-dark-second);
}

.copyright__link {
    text-decoration: none;
    color: var(--color-dark-second);
}

.copyright__link:hover {
    background-color: var(--color-light-second);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: var(--color-dark-second);
}