/* theme block */
.toggle_theme {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.toggle_theme-checker {
	background-color: var(--color-light-main);
	height: 100px;
	width: 180px;
	border-radius: 50px;
	position: relative;
}

.toggle_theme_checker--circle {
	display: block;
	background-color: var(--color-light-second);
	width: 80px;
	height: 80px;
	border-radius: 50px;
	position: absolute;
	transition: all 0.5s;
	cursor: pointer;
}

.toggle_theme_checker--circle--left {
	transform: translate(10px, 10px);
	background-image: url("../img/sun.svg");
}

.toggle_theme_checker--circle--right {
	transform: translate(90px, 10px);
	background-image: url("../img/moon.svg");
}
